# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Lambda packages
*.zip

# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# AWS credentials (never store secrets)
*.pem
*.key
*.env

# VSCode + OS files
.vscode/
.DS_Store

# Python virtual environments
.env/
.venv/
env/
venv/

# Log & output files
*.log

# Test event artifacts
test_events/*.json

# Mac folder junk
Icon?
